{% extends "major_features/layout.html" %}

{% block title %}
<h3 style="margin-top: 10px; text-align: center;">Trang đăng ký tài khoản admin</h3>
{% endblock %}

{% block body %}

{% if message %}
    <p>{{ message }}</p>
{% endif %}

<div id="admin-management">

    {% if 'register' in request.resolver_match.url_name %}
    <div id="register">
        <a style="text-decoration: none;" class="active-a" href="{% url 'register' %}">Cấp tài khoản cho nhân viên</a>
    </div>
    {% else %}
    <div id="register">
        <a style="text-decoration: none;" href="{% url 'register' %}">Cấp tài khoản cho nhân viên</a>
    </div>
    {% endif %}

    {% if 'user_activities' in request.resolver_match.url_name %}
    <div id="user-activities">
        <a style="text-decoration: none;" class="active-a" href="{% url 'user_activities' %}">Theo dõi các phiên hoạt động của nhân viên</a>
    </div>
    {% else %}
    <div id="user-activities">
        <a style="text-decoration: none;" href="{% url 'user_activities' %}">Theo dõi các phiên hoạt động của nhân viên</a>
    </div>
    {% endif %}

</div>

<div class="container d-flex justify-content-center" style="margin-top: 15px;">
    <div class="form-container">
        <form action="{% url 'register' %}" method="post" class="registration-form">
            {% csrf_token %}
            <div class="form-group">
                <fieldset>

                    <legend>Cấp tài khoản cho nhân viên:</legend>
                
                    <input class="form-control registration-input" autofocus type="text" name="username" placeholder="Tên đăng nhập">
                    <input class="form-control registration-input" type="password" name="password" placeholder="Mật khẩu">
                    <input class="form-control registration-input" type="password" name="confirmation" placeholder="Xác nhận mật khẩu">

                </fieldset>
            </div>
            <button type="submit" class="submit-button">Đăng ký</button>
        </form>
    </div>
</div>
{% endblock %}