{% extends "major_features/layout.html" %}

{% block title %}
<h3 style="text-align: center; margin-top: 15px; margin-bottom: 15px;">Chi tiết thông tin của nhân viên {{ staff.username }}</h3>
{% endblock %}

{% block body %}
<div id="admin-management">

    {% if 'register' in request.resolver_match.url_name %}
    <div id="register">
        <a style="text-decoration: none;" class="active-a" href="{% url 'register' %}">Cấp tài khoản nhân viên</a>
    </div>
    {% else %}
    <div id="register">
        <a style="text-decoration: none;" href="{% url 'register' %}">Cấp tài khoản nhân viên</a>
    </div>
    {% endif %}

    {% if 'user_activities' in request.resolver_match.url_name %}
    <div id="user-activities">
        <a style="text-decoration: none;" class="active-a" href="{% url 'user_activities' %}">Theo dõi phiên hoạt động của nhân viên</a>
    </div>
    {% else %}
    <div id="user-activities">
        <a style="text-decoration: none;" href="{% url 'user_activities' %}">Theo dõi phiên hoạt động của nhân viên</a>
    </div>
    {% endif %}

    {% if 'staff' in request.resolver_match.url_name %}
    <div id="staff-information">
        <a style="text-decoration: none;" class="active-a" href="{% url 'staffs' %}">Thông tin nhân viên</a>
    </div>
    {% else %}
    <div id="staff-information">
        <a style="text-decoration: none;" href="{% url 'staffs' %}">Thông tin nhân viên</a>
    </div>
    {% endif %}

</div>

<div class="container d-flex justify-content-center" style="margin-top: 15px; margin-bottom: 15px;">
    <div class="card">
        <p>
            <strong>Username: </strong>{{ staff.username }}
            {% if staff.is_superuser %}
            - <strong>Admin</strong>
            {% endif %}
        </p>
        <p><strong>Họ: </strong>{{ staff.first_name }}</p>
        <p><strong>Tên: </strong>{{ staff.last_name }}</p>
        <p><strong>Email: </strong>{{ staff.email }}</p>
        <p><strong>Ngày tạo: </strong>{{ staff.date_joined|date:"d/m/Y - h:i:s" }}</p>
        <p>
            <strong>Trạng thái: </strong>
            {% if staff.is_active == True %}
            <span style="color: green;">Đã kích hoạt</span>
            {% else %}
            <span style="color: red;">Chưa kích hoạt</span>
            {% endif %}
        </p>
    </div>
</div>
<p>
    <a href="{% url 'edit_staff_information' staff.pk %}">Chỉnh sửa thông tin nhân viên</a>
</p>
{% endblock %}