{% extends "major_features/layout.html" %}

{% block title %}
<h3 style="margin-top: 10px; text-align: center;">Theo dõi các phiên hoạt động của nhân viên</h3>
{% endblock %}

{% block body %}

<div id="admin-management">

    {% if 'register' in request.resolver_match.url_name %}
    <div id="register">
        <a style="text-decoration: none;" class="active-a" href="{% url 'register' %}">Cấp tài khoản cho nhân viên</a>
    </div>
    {% else %}
    <div id="register">
        <a style="text-decoration: none;" href="{% url 'register' %}">Cấp tài khoản cho nhân viên</a>
    </div>
    {% endif %}

    {% if 'user_activities' in request.resolver_match.url_name %}
    <div id="user-activities">
        <a style="text-decoration: none;" class="active-a" href="{% url 'user_activities' %}">Theo dõi các phiên hoạt động của nhân viên</a>
    </div>
    {% else %}
    <div id="user-activities">
        <a style="text-decoration: none;" href="{% url 'user_activities' %}">Theo dõi các phiên hoạt động của nhân viên</a>
    </div>
    {% endif %}

</div>

<div class="container d-flex justify-content-center" style="margin-top: 15px;">
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Nhân viên</th>
            <th scope="col">Thời gian online</th>
            <th scope="col">Thời gian offline</th>
        </tr>
        </thead>
        <tbody>
        {% for user in user_activities %}
        <tr>
            <th scope="row">{{ user.user_id.username }}</th>
            <td>{{ user.login_time|date:"d/m/Y - H:i:s" }}</td>
            <td>{{ user.logout_time|date:"d/m/Y - H:i:s" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}