{% extends "major_features/layout.html" %}

{% block body %}

<h2>{{ datepicker|date:"d/m/Y" }}</h2>
<h2>{{ datepicker_by_POST }}</h2>

{% if keep_method_form %}
<form action="{% url 'keep_current_method' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            Bạn có muốn giữ phương pháp hiện tại: {{ method_name }} không?
        </legend>
        {{ keep_method_form.as_p }}
    </fieldset>
    <p><a href="{% url 'apply_warehouse_management' %}">Chọn phương pháp khác</a></p>
    <input type="submit" value="Submit">
</form>
{% endif %}

<a href="#">Lô hàng nhập kho theo ngày {{ datepicker|date:"d/m/Y" }}</a>
<a href="#">Lô hàng xuất kho theo ngày {{ datepicker|date:"d/m/Y" }}</a>
{% endblock %}