{% extends "major_features/layout.html" %}

{% block title %}
<h3 style="text-align: center; margin-top: 15px; margin-bottom: 15px;">Chọn phương pháp quản lý Hàng tồn kho</h3>
{% endblock %}

{% block body %}

{% if warehouse_management_method_form %}

<div class="container d-flex justify-content-center">
    <div class="form-container">
        <form action="{% url 'apply_warehouse_management' %}" method="post" class="shipment-form">
            {% csrf_token %}
            {{ warehouse_management_method_form.as_p }}
            <button type="submit" class="submit-button">Xác nhận</button>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}