{% extends "major_features/layout.html" %}

{% load humanize %}

{% block title %}
<h2>Trang chủ</h2>
{% endblock %}

{% block body %}
<div id="products-container">
    <table class="table table-bordered table-striped table-dark">
      <caption>Bảng thống kê giá trị tồn kho hiện tại của từng sản phẩm</caption>
        <thead>
          <tr>
            <th scope="col" style="text-align: left;">Mã sản phẩm</th>
            <th scope="col" style="text-align: left;">Tên sản phẩm</th>
            <th scope="col" style="text-align: right;">Số lượng tồn kho</th>
            <th scope="col" style="text-align: right;">Tổng giá trị tồn kho</th>
          </tr>
        </thead>
        <tbody>
            {% for product in product_period_inventory %}
            <tr>
                <td scope="col">{{ product.product_id.sku }}</td>
                <td scope="col">{{ product.product_id.name }}</td>
                <td scope="col" style="text-align: right;">{{ product.ending_quantity|intcomma }}</td>
                <td scope="col" style="text-align: right;">{{ product.ending_inventory|intcomma }}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

{% if method %}
<p>Phương pháp xác định giá trị hàng tồn kho đang được chọn: <strong>{{ method.name }}</strong></p>
<p><strong>Ngày bắt đầu ghi sổ kế toán: </strong>{{ accounting_period.date_applied }}</p>
<p><strong>Ngày kết thúc: </strong>{{ accounting_period.date_end }}</p>
{% else %}
<div class="alert alert-danger" role="alert">
    Không có phương pháp nào được chọn
    <a href="{% url 'apply_warehouse_management' %}">Tiến hành chọn phương pháp</a>
</div>
{% endif %}

<form action="{% url 'date_handling' %}" method="post">
    {% csrf_token %}
    {{ date_picker_form.as_p }}
    <input type="submit" value="Submit">
</form>

<p>
  <strong style="display: block; color: red;">Chỉ dành cho mục đích kiểm thử</strong>
  <a href="{% url 'apply_warehouse_management' %}">Chọn phương pháp khác để kiểm thử</a>
</p>

{% if alert_message %}
<div class="alert alert-danger" role="alert">
  {{ alert_message }}
  <a href="{% url 'activating_accounting_period' %}">Nhấn vào link này để tiến hành cập nhật phương pháp</a>
</div>
{% endif %}

{% endblock %}