{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet" >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!-- Custom CSS -->
    <link href="{% static 'major_features/major_features_css/styles.css' %}" rel="stylesheet"">
    <title>Testing Warehouse Management</title>
</head>
<body>

    {% block nav %}
    {% endblock %}

    {% block title %}
    {% endblock %}
    
    <hr style="height: 2px; color: #01257D; opacity: 0.8; margin: auto; margin-top: 20px; margin-bottom: 20px; border-radius: 4px;">

    <div class="container-fluid" style="margin-top: 20px; margin-bottom: 20px;">
        {% block body %}
        {% endblock %}
    <div>
    {% block script %}
    {% endblock %}
</body>
<footer>
    <p style="text-align: center; color: #00FFFF; position: relative; top: 15%;">Copyright &copy;</p>
</footer>
</html>