{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet" >

    <!-- Custom CSS -->
    <link href="{% static 'major_features/major_features_css/styles.css' %}" rel="stylesheet"">
    <title>Testing Warehouse Management</title>
</head>
<body>
    <div class="container-fluid">
        <h1>Hello World</h1>
        {% block body %}
        {% endblock %}
    <div>
    {% block script %}
    {% endblock %}
</body>
</html>