{% extends "major_features/layout.html" %}

{% load static %}

{% load humanize %}

{% load custom_filters %}

{% block title %}
<h3 style="text-align: center; margin-top: 10px;">Dữ liệu Kỳ kế toán</h3>
{% endblock %}

{% block body %}
<form action="{% url 'inventory_data' %}" class="d-flex justify-content-start margin-form" method="GET">
    <label for="accounting_period" class="col-form-label inline-margin">Kỳ kế toán: </label>
    <select name="accounting_period" class="form-select select" style="width: fit-content;">
        {% for period in accounting_periods %}
            {% if period.id == chosen_period_id %}
            <option value="{{ period.id }}" selected>
                {{ period.warehouse_management_method }} từ {{ period.date_applied|date:"d/m/Y" }} đến {{ period.date_end|date:"d/m/Y" }}
            </option>
            {% else %}
            <option value="{{ period.id }}">
                {{ period.warehouse_management_method }} từ {{ period.date_applied|date:"d/m/Y" }} đến {{ period.date_end|date:"d/m/Y" }}
            </option>
            {% endif %}
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-secondary btn-sm inline-margin filter-bar-submit-btn">Xác nhận</button>
</form>
{% if not non_record_msg %}
<div class="container d-flex justify-content-center">
    <table class="table table-bordered table-striped table-dark" style="width: fit-content;">
        <thead>
            <tr>
                <th scope="col" rowspan="2" style="font-size: 12px; text-align: center; vertical-align: middle;">STT</th>
                <th scope="col" rowspan="2" style="font-size: 12px; text-align: left; vertical-align: middle;">Sản phẩm</th>
                <th scope="col" rowspan="2" style="font-size: 12px; text-align: left; vertical-align: middle;">Danh mục</th>
                <th scope="col" rowspan="1" colspan="2" style="font-size: 12px; text-align: left;">Tồn kho đầu kỳ</th>
                <th scope="col" rowspan="1" colspan="2" style="font-size: 12px; text-align: left;">Nhập kho trong kỳ</th>
                <th scope="col" rowspan="1" colspan="2" style="font-size: 12px; text-align: center;">Xuất kho trong kỳ</th>
                <th scope="col" rowspan="1" colspan="2" style="font-size: 12px; text-align: center;">Tồn kho cuối kỳ</th>
                <th scope="col" rowspan="2" style="font-size: 12px; text-align: left; vertical-align: middle;">Doanh thu</th>
                <th scope="col" rowspan="2" style="font-size: 12px; text-align: left; vertical-align: middle;">GVHB</th>
                <th scope="col" rowspan="2" style="font-size: 12px; text-align: left; vertical-align: middle;">Lợi nhuận</th>
            </tr>
            <tr>
                <th scope="col" rowspan="1" colspan="1" style="font-size: 12px; text-align: left;">Số lượng</th>
                <th scope="col" rowspan="1" colspan="1" style="font-size: 12px; text-align: left;">Giá trị</th>
                <th scope="col" rowspan="1" colspan="1" style="font-size: 12px; text-align: left;">Số lượng</th>
                <th scope="col" rowspan="1" colspan="1" style="font-size: 12px; text-align: left;">Giá trị</th>
                <th scope="col" rowspan="1" colspan="1" style="font-size: 12px; text-align: left;">Số lượng</th>
                <th scope="col" rowspan="1" colspan="1" style="font-size: 12px; text-align: left;">Giá trị</th>
                <th scope="col" rowspan="1" colspan="1" style="font-size: 12px; text-align: left;">Số lượng</th>
                <th scope="col" rowspan="1" colspan="1" style="font-size: 12px; text-align: left;">Giá trị</th>
            </tr>
        </thead>
        <tbody>
            {% for period in accounting_periods_inventory %}
            <tr>
                <td scope="col" style="font-size: 12px; text-align: center;">{{ forloop.counter }}</td>
                <td scope="col" style="font-size: 12px; text-align: left;">{{ period.product_id.name }}</td>
                <td scope="col" style="font-size: 12px; text-align: left;">{{ period.product_id.category_name.name }}</td>
                <td scope="col" style="font-size: 12px;text-align: right;">{{ period.starting_quantity|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right;">{{ period.starting_inventory|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right;">{{ period.import_quantity|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right;">{{ period.import_inventory|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right;">{{ period.total_quantity_export|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right;">{{ period.total_cogs|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right;">{{ period.ending_quantity|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right;">{{ period.ending_inventory|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right;">{{ period.total_revenue|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right;">{{ period.total_cogs|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right;">{{ period.total_revenue|subtract:period.total_cogs|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td scope="col" colspan="3" style="font-size: 12px; text-align: right; color: #00FFFF;"><strong>Tổng</strong></td>
                <td scope="col" style="font-size: 12px; text-align: right; color: #00FFFF;">{{ total_starting_quantity|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right; color: #00FFFF;">{{ total_starting_inventory|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right; color: #00FFFF;">{{ total_import_quantity|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right; color: #00FFFF;">{{ total_import_inventory|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right; color: #00FFFF;">{{ total_export_quantity|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right; color: #00FFFF;">{{ total_products_cogs|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right; color: #00FFFF;">{{ total_ending_quantity|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right; color: #00FFFF;">{{ total_ending_inventory|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right; color: #00FFFF;">{{ total_products_revenue|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right; color: #00FFFF;">{{ total_products_cogs|intcomma }}</td>
                <td scope="col" style="font-size: 12px; text-align: right; color: #00FFFF;">{{ total_gross_profits|intcomma }}</td>
            </tr>
        </tfoot>
    </table>
</div>

<button type="button" id="export-to-excel-btn" class="btn btn-primary">Xuất sang file excel</button>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <p style="color: red;">{{ message }}</p>
        {% else %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
<form action="{% url 'export_data_to_excel' chosen_period_id %}" id="filename-excel-form" class="flex-form margin-form" style="display: none;">
    <label for="filename" class="col-form-label inline-margin">Tên file Excel: </label>
    <input type="text" name="filename" class="form-control" style="width: fit-content;" placeholder="Ví dụ: hangtonkho">
    <button type="submit" class="btn btn-secondary btn-sm inline-margin filter-bar-submit-btn" value="Xác nhận">Xác nhận</button>
</form>

{% else %}
<p><strong>{{ non_record_msg }}</strong></p>
{% endif %}

{% endblock %}

{% block script %}
<script src="{% static 'major_features/major_features_js/inventory_data/inventory_data.js' %}"></script>
{% endblock %}