{% extends "major_features/layout.html" %}

{% block title %}
<h3 style="text-align: center; margin-top: 10px;">Thêm danh mục sản phẩm</h3>
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
    <div class="form-container">
        <form action="{% url 'add_category' %}" method="post" class="shipment-form">
            {% csrf_token %}
            <div class="form-group">
                <fieldset>
                    <legend>
                        Thêm danh mục sản phẩm
                    </legend>
                    {{ add_category_form.as_p }}
                </fieldset>
                <button type="submit" class="submit-button">Xác nhận</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}