{% extends "major_features/layout.html" %}

{% load humanize %}

{% load custom_filters %}

{% block title %}
<h3 style="text-align: center; margin-top: 10px;">Danh mục sản phẩm</h3>
{% endblock %}

{% block body %}
{% for category, value in categories.items %}
<div>
    <p><strong>{{ category }}: </strong>{{ value.category_products|length }} sản phẩm</p>
    {% if value.category_products|length > 0 %}
    <table class="table table-striped">
        <thead class="thead-light">
            <th scope="col" style="text-align: center;">STT</th>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col" style="text-align: right;">SL HTK</th>
            <th scope="col" style="text-align: right;">Giá trị HTK</th>
            <th scope="col" style="text-align: right;">Tỷ lệ (%) giá trị HTK</th>
            <th scope="col" style="text-align: right;">Doanh thu</th>
            <th scope="col" style="text-align: right;">Tỷ lệ (%) doanh thu</th>
            <th scope="col" style="text-align: right;">Lợi nhuận</th>
        </thead>
        <tbody>
            {% for product in value.category_products %}
            <tr>
                <td scope="col" style="text-align: center;"><strong>{{ forloop.counter }}</strong></td>
                <td scope="col"><strong>{{ product.product_id.sku }}</strong></td>
                <td scope="col"><strong>{{ product.product_id.name }}</strong></td>
                <td scope="col" style="text-align: right;">{{ product.ending_quantity|intcomma }}</td>
                <td scope="col" style="text-align: right;">{{ product.ending_inventory|intcomma }}</td>
                <td scope="col" style="text-align: right;">{{ product.ending_inventory|to_percentage:value.category_inventory_value|round_float:2 }}%</td>
                <td scope="col" style="text-align: right;">{{ product.total_revenue|intcomma }}</td>
                <td scope="col" style="text-align: right;">{{ product.total_revenue|to_percentage:value.category_revenue|round_float:2 }}%</td>
                <td scope="col" style="text-align: right;">{{ product.total_revenue|subtract:product.total_cogs|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" style="text-align: right;">
                    <strong>Tổng</strong>
                </td>
                <td style="text-align: right;"><strong>{{ value.category_inventory_value|intcomma }}</strong></td>
                <td style="text-align: right;"><strong>100%</strong></td>
                <td style="text-align: right;"><strong>{{ value.category_revenue|intcomma }}</strong></td>
                <td style="text-align: right;"><strong>100%</strong></td>
                <td style="text-align: right;"><strong>{{ value.category_gross_profits|intcomma }}</strong></td>
            </tr>
        </tfoot>
    </table>
    {% endif %}
</div>
{% endfor %}
<p>
    <a href="{% url 'add_category' %}">Thêm danh mục sản phẩm</a>
</p>
{% endblock %}