{% extends "major_features/layout.html" %}

{% load humanize %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #01257D;">
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'index' %}">Trang chủ</a>
        </li>
        <li class="nav-item" style="padding: 2.5px 5px 2.5px 5px; border-bottom: 2px solid #00FFFF;">
          <a class="nav-link" style="color: #00FFFF;" href="{% url 'import_shipments' %}">Nhập kho</a>
        </li>
        <li class="nav-item" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'export_shipments' %}">Xuất kho</a>
        </li>
        <li class="nav-item" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'reports' %}">Thống kê</a>
        </li>
      </ul>
  </div>
</nav>
{% endblock %}

{% block body %}
<h2>Chi tiết lô hàng nhập kho {{ import_shipment_obj.import_shipment_code }}</h2>
<div id="import-shipment-details">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Số lượng nhập kho</th>
            <th scope="col">Số lượng còn lại</th>
            <th scope="col">Đơn giá nhập kho</th>
          </tr>
        </thead>
        <tbody>
          {% for import_purchase in import_purchases %}
          <tr>
            <td>{{ import_purchase.id }}</td>
            <td>{{ import_purchase.product_id.name }}</td>
            <td>{{ import_purchase.quantity_import }}</td>
            <td>{{ import_purchase.quantity_remain }}</td>
            <td>{{ import_purchase.import_cost|intcomma }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}