{% extends "major_features/layout.html" %}

{% load static %}

{% block title %}
<h2>Trang nhập kho</h2>
{% endblock %}

{% block body %}
<h3>Đơn nhập kho lô hàng</h3>

<div class="container d-flex justify-content-center">
  <div class="form-container">
    <form action="{% url 'import_action' %}" method="post" class="shipment-form">

        {% csrf_token %}
        <div class="form-group">
          <fieldset>
              <legend>
                  <strong>Thông tin lô hàng nhập kho:</strong>
              </legend>
              {{ import_shipment_form.as_p }}
          </fieldset>
        </div>

        <div class="form-group">
          <fieldset>
              <legend>
                  <strong>Nhập kho sản phẩm:</strong>
              </legend>
              {{ import_purchase_form.as_p }}
          </fieldset>
        </div>

        <button type="submit" name="save_and_continue" class="submit-button">Lưu và tiếp tục nhập kho sản phẩm theo lô hàng trên</button>
        <button type="submit" name="save_and_complete" class="submit-button">Lưu và hoàn tất</button>

    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<!-- <script src="{% static 'major_features/major_features_js/import/import_action.js' %}"></script> -->
{% endblock %}