{% extends "major_features/layout.html" %}

{% load humanize %}

{% block title %}
<h2>Trang nhập kho</h2>
{% endblock %}

{% block body %}
<h3>Chi tiết lô hàng nhập kho {{ import_shipment_obj.import_shipment_code }}</h3>
<div id="import-shipment-details" style="margin-top: 20px; margin-bottom: 20px;">
    <table class="table table-bordered table-striped table-dark w-auto" style="margin: auto;">
      <caption>Chi tiết các đơn hàng trong lô hàng nhập kho {{ import_shipment_obj.import_shipment_code }}</caption>
        <thead>
          <tr>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Số lượng nhập kho</th>
            <th scope="col">Số lượng còn lại</th>
            <th scope="col">Đơn giá nhập kho</th>
          </tr>
        </thead>
        <tbody>
          {% for import_purchase in import_purchases %}
          <tr>
            <td>{{ import_purchase.id }}</td>
            <td>{{ import_purchase.product_id.name }}</td>
            <td>{{ import_purchase.quantity_import }}</td>
            <td>{{ import_purchase.quantity_remain }}</td>
            <td>{{ import_purchase.import_cost|intcomma }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

<div id="products-purchase-value" style="margin-top: 20px; margin-bottom: 20px;">
  <table class="table table-bordered table-striped table-dark w-auto" style="margin: auto;">
    <caption>Thống kê giá trị nhập kho ban đầu, giá trị tồn kho hiện tại của từng sản phẩm trong lô hàng nhập kho {{ import_shipment_obj.import_shipment_code }}</caption>
      <thead>
        <tr>
          <th scope="col">Sản phẩm</th>
          <th scope="col">Giá trị nhập kho ban đầu</th>
          <th scope="col">Giá trị nhập kho hiện tại</th>
          <th scope="col">Số lượng tồn kho hiện tại</th>
        </tr>
      </thead>
      <tbody>
        {% for product, value in products_purchase_value.items %}
        <tr>
          <td><strong>{{ product }}</strong></td>
          <td style="text-align: right;">{{ value.purchase_value|intcomma }}</td>
          <td style="text-align: right;">{{ value.remain_value|intcomma }}</td>
          <td style="text-align: right;">{{ value.current_quantity_remain }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <td style="color: #00FFFF; text-align: right;"><strong>Tổng</strong></td>
        <td style="color: #00FFFF; text-align: right;">{{ total_initial_value|intcomma }}</td>
        <td style="color: #00FFFF; text-align: right;">{{ total_current_value|intcomma }}</td>
        <td style="color: #00FFFF; text-align: right;">{{ total_current_quantity|intcomma }}</td>
      </tfoot>
    </table>
</div>
{% endblock %}