{% extends "major_features/layout.html" %}

{% load static %}

{% block body %}
<h2>Đơn nhập kho lô hàng</h2>
<form action="{% url 'import_action' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>
            Thông tin tổng quan lô hàng
        </legend>
        {{ import_shipment_form.as_p }}
    </fieldset>

    <fieldset>
        <legend>
            Nhập kho sản phẩm:
        </legend>
        {{ import_purchase_form.as_p }}
    </fieldset>

    <button type="submit" name="save_and_continue">Lưu và tiếp tục nhập kho sản phẩm theo lô hàng trên</button>
    <button type="submit" name="save_and_complete">Hoàn tất</button>

</form>
{% endblock %}

{% block script %}
<!-- <script src="{% static 'major_features/major_features_js/import/import_action.js' %}"></script> -->
{% endblock %}