{% extends "major_features/layout.html" %}

{% load humanize %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #01257D;">
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'index' %}">Trang chủ</a>
        </li>
        <li class="nav-item dropdown-trigger" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: #00FFFF; border-bottom: 2px solid #00FFFF;" href="{% url 'import_shipments' %}">Nhập kho</a>
          <ul class="dropdown-ul">
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'import_shipments' %}" style="color: white; text-decoration: none;">
                Theo dõi lô hàng nhập kho
              </a>
            </li>
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'import_action' %}" style="color: white; text-decoration: none;">
                Thực hiện nhập kho
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown-trigger" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'export_shipments' %}">Xuất kho</a>
          <ul class="dropdown-ul">
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'export_shipments' %}" style="color: white; text-decoration: none;">
                Theo dõi lô hàng xuất kho
              </a>
            </li>
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'export_action' %}" style="color: white; text-decoration: none;">
                Thực hiện xuất kho
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'reports' %}">Thống kê</a>
        </li>
      </ul>
  </div>
</nav>
{% endblock %}

{% block body %}
<style>
  .valid-import-shipment {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .invalid-import-shipment {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
</style>
<h2 style="text-align: center;">Theo dõi các lô hàng nhập kho</h2>

<div id="import-shipment-container" style="margin-top: 15px;">
    <table class="table table-bordered table-striped table-dark w-auto" style="margin: auto;">
        <thead>
          <tr>
            <th scope="col">Mã lô hàng</th>
            <th scope="col">Nhà cung cấp</th>
            <th scope="col">Ngày nhập kho</th>
            <th scope="col">Tổng giá trị lô hàng (Đơn vị tính: VND)</th>
            <th scope="col">Theo dõi chi tiết</th>
            <th scope="col">Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          {% for import_shipment in page_obj %}
          <tr>
            <td style="text-align: left;">{{ import_shipment.import_shipment_code }}</td>
            <td style="text-align: left;">{{ import_shipment.supplier_id.name }}</td>
            <td style="text-align: left;">{{ import_shipment.date }}</td>
            <td style="text-align: right;">{{ import_shipment.total_shipment_value|intcomma }}</td>
            <td><a href="{% url 'import_shipment_details' import_shipment.import_shipment_code %}">Lô hàng</a></td>

            {% if import_shipment.total_shipment_value > 0 %}
            <td style="color: #c3e6cb">Đã hoàn tất</td>
            {% else %}
            <td style="color: #f5c6cb;">Chưa hoàn tất</td>
            {% endif %}

          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td  style="color: #0d6efd; background-color: white !important;"><strong>Kết quả: </strong>
              {{ results_count }} dòng
            </td>
            <td colspan="4" style="text-align: right; background-color: white !important;">

              <nav aria-label="Page navigation example" style="display: inline-block;">
              <ul class="pagination" style="margin-top: 15px;">

                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Previous">
                {% endif %}
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Trước</span>
                  </a>
                </li>

                <li class="page-item">
                  <span class="page-link">Trang {{ page_obj.number }} trong {{ page_obj.paginator.num_pages }}</span>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#" aria-label="Next">
                {% endif %}
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Sau</span>
                  </a>
                </li>
              </ul>
              </nav>
            </td>
          </tr>
        </tfoot>
      </table>
</div>

<a href="{% url 'import_action' %}">Thực hiện nhập kho lô hàng</a>
{% endblock %}