{% extends "major_features/layout.html" %}

{% load humanize %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #01257D;">
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'index' %}">Trang chủ</a>
        </li>
        <li class="nav-item dropdown-trigger" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: #00FFFF; border-bottom: 2px solid #00FFFF;" href="{% url 'import_shipments' %}">Nhập kho
          </a>
          <ul class="dropdown-ul">
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'import_shipments' %}" style="color: white; text-decoration: none;">
                Theo dõi lô hàng nhập kho
              </a>
            </li>
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'import_action' %}" style="color: white; text-decoration: none;">
                Thực hiện nhập kho
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown-trigger" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'export_shipments' %}">Xuất kho</a>
          <ul class="dropdown-ul">
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'export_shipments' %}" style="color: white; text-decoration: none;">
                Theo dõi lô hàng xuất kho
              </a>
            </li>
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'export_action' %}" style="color: white; text-decoration: none;">
                Thực hiện xuất kho
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown-trigger" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'reports_revenue' %}">Thống kê</a>
          <ul class="dropdown-ul">
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'reports_revenue' %}" style="color: white; text-decoration: none;">
                Doanh thu
              </a>
            </li>
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'reports_gross_profits' %}" style="color: white; text-decoration: none;">
                Lợi nhuận
              </a>
            </li>
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'reports_import_section' %}" style="color: white; text-decoration: none;">
                Nhập kho
              </a>
            </li>
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'reports_export_section' %}" style="color: white; text-decoration: none;">
                Xuất kho
              </a>
            </li>
          </ul>
        </li>
      </ul>
  </div>
</nav>
{% endblock %}

{% block title %}
<h2>Trang nhập kho</h2>
{% endblock %}

{% block body %}
<h3>Chi tiết lô hàng nhập kho {{ import_shipment_obj.import_shipment_code }}</h3>
<div id="import-shipment-details" style="margin-top: 20px; margin-bottom: 20px;">
    <table class="table table-bordered table-striped table-dark w-auto" style="margin: auto;">
      <caption>Chi tiết các đơn hàng trong lô hàng nhập kho {{ import_shipment_obj.import_shipment_code }}</caption>
        <thead>
          <tr>
            <th scope="col">Mã đơn hàng</th>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Số lượng nhập kho</th>
            <th scope="col">Số lượng còn lại</th>
            <th scope="col">Đơn giá nhập kho</th>
          </tr>
        </thead>
        <tbody>
          {% for import_purchase in import_purchases %}
          <tr>
            <td>{{ import_purchase.id }}</td>
            <td>{{ import_purchase.product_id.name }}</td>
            <td>{{ import_purchase.quantity_import }}</td>
            <td>{{ import_purchase.quantity_remain }}</td>
            <td>{{ import_purchase.import_cost|intcomma }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

<div id="products-purchase-value" style="margin-top: 20px; margin-bottom: 20px;">
  <table class="table table-bordered table-striped table-dark w-auto" style="margin: auto;">
    <caption>Thống kê giá trị nhập kho ban đầu, giá trị tồn kho hiện tại của từng sản phẩm trong lô hàng nhập kho {{ import_shipment_obj.import_shipment_code }}</caption>
      <thead>
        <tr>
          <th scope="col">Sản phẩm</th>
          <th scope="col">Giá trị nhập kho ban đầu</th>
          <th scope="col">Giá trị nhập kho hiện tại</th>
          <th scope="col">Số lượng tồn kho hiện tại</th>
        </tr>
      </thead>
      <tbody>
        {% for product, value in products_purchase_value.items %}
        <tr>
          <td>{{ product }}</td>
          <td>{{ value.purchase_value|intcomma }}</td>
          <td>{{ value.remain_value|intcomma }}</td>
          <td>{{ value.current_quantity_remain }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}