{% extends "major_features/layout.html" %}

{% load humanize %}
{% load custom_filters %}

{% block title %}
<h2>Trang nhập kho</h2>
{% endblock %}

{% block body %}
<h3>Hoàn tất lô hàng nhập kho {{ import_shipment_code }}</h3>
<div id="import-shipment-container">
    <p>Mã lô hàng: <strong>{{ import_shipment_code }}</strong></p>
    <p>Nhà cung cấp lô hàng: <strong>{{ import_shipment_supplier }}</strong></p>
    <p>Ngày nhập lô hàng: <strong>{{ import_shipment_date|date:"d/m/Y" }}</strong></p>
</div>

<div id="import-shipment-purchases">
  <table class="table table-bordered table-striped table-dark w-auto" style="margin: auto;">
    <caption>Bảng thống kê từng đơn hàng theo lô hàng nhập kho {{ import_shipment_code }}</caption>
    <thead>
      <tr>
        <th scope="col">Sản phẩm</th>
        <th scope="col">Đơn giá nhập kho</th>
        <th scope="col">Số lượng nhập kho</th>
        <th scope="col">Giá trị</th>
      </tr>
    </thead>
    <tbody>
      {% for import_purchase in import_shipment_purchases %}
      <tr>
        <td>{{ import_purchase.product_id.name }}</td>
        <td style="text-align: right;">{{ import_purchase.import_cost|intcomma }}</td>
        <td style="text-align: right;">{{ import_purchase.quantity_import|intcomma }}</td>
        <td style="text-align: right;">{{ import_purchase.quantity_import|multiply:import_purchase.import_cost|intcomma }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3" style="color: #00FFFF; text-align: right;"><strong>Tổng</strong></td>
        <td style="color: #00FFFF; text-align: right;">{{ total_import_shipment_value|intcomma }}</td>
      </tr>
    </tfoot>
  </table>
</div>

<p>Tổng giá trị nhập kho của lô hàng {{ import_shipment_code }}: <strong>{{ import_shipment_value|intcomma }}</strong></p>

<a href="{% url 'index' %}">Trang chủ</a>

{% endblock %}