{% extends "major_features/layout.html" %}

{% block body %}
<h2>Save & complete page</h2>
<div id="import-shipment-container">
    <p>Mã lô hàng: <strong>{{ import_shipment_code }}</strong></p>
    <p>Nhà cung cấp lô hàng: <strong>{{ import_shipment_supplier }}</strong></p>
    <p>Ngày nhập lô hàng: <strong>{{ import_shipment_date }}</strong></p>
</div>

<div id="import-shipment-purchases">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Số lượng nhập kho</th>
            <th scope="col">Đơn giá nhập kho</th>
            <th scope="col">Thực hiện</th>
          </tr>
        </thead>
        <tbody>
          {% for import_purchase in import_shipment_purchases %}
          <tr>
            <td>{{ import_purchase.product_id.name }}</td>
            <td>{{ import_purchase.quantity_import }}</td>
            <td>{{ import_purchase.import_cost }}</td>
            <td>
              <a href="{% url 'import_purchase_update' import_purchase.id %}">Sửa</a> / 
              <a href="{% url 'import_purchase_delete' import_purchase.id %}">Xóa</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

<p>Tổng giá trị nhập kho của lô hàng {{ import_shipment_code }}: <strong>{{ import_shipment_value }}</strong></p>

<a href="{% url 'index' %}">Trang chủ</a>

{% endblock %}