{% extends "major_features/layout.html" %}

{% load custom_filters %}

{% block body %}
<h2>Save & continue page</h2>

<div id="import-shipment-container">
    <p>Mã lô hàng: <strong>{{ import_shipment_code }}</strong></p>
    <p>Nhà cung cấp lô hàng: <strong>{{ import_shipment_supplier }}</strong></p>
    <p>Ngày nhập lô hàng: <strong>{{ import_shipment_date }}</strong></p>
</div>

<div id="import-shipment-purchases">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sản phẩm</th>
            <th scope="col">Số lượng nhập kho</th>
            <th scope="col">Đơn giá nhập kho</th>
            <th scope="col">Giá trị</th>
            <th scope="col">Thực hiện</th>
          </tr>
        </thead>
        <tbody>
          {% for import_purchase in import_shipment_purchases %}
          <tr>
            <td>{{ import_purchase.product_id.name }}</td>
            <td>{{ import_purchase.quantity_import }}</td>
            <td>{{ import_purchase.import_cost }}</td>
            <td>{{ import_purchase.quantity_import|multiply:import_purchase.import_cost }}</td>
            <td>
              <a href="{% url 'import_purchase_update' import_purchase.id %}">Sửa</a> / 
              <a href="{% url 'import_purchase_delete' import_purchase.id %}">Xóa</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

<div id="purchase-additional-information">
  {% for purchase, value_container in purchase_additional_fields.items %}
  <p><strong>{{ purchase }}: </strong>
    Số lượng nhập kho trong lô hàng trên <strong>{{ value_container.purchase_quantity_import }}</strong>
    Giá trị nhập kho trong lô hàng trên <strong>{{ value_container.purchase_value }}</strong>
  </p>
  {% endfor %}
</div>

<form action="{% url 'save_and_continue' import_shipment_code %}" method="post">
    {% csrf_token %}
    {{ import_purchase_form.as_p }}
    <button type="submit" name="save_and_continue">Lưu và tiếp tục nhập kho sản phẩm theo lô hàng trên</button>
    <button type="submit" name="save_and_complete">Lưu và hoàn tất</button>
</form>

<a href="{% url 'save_and_complete' import_shipment_code %}">Hoàn tất việc nhập kho lô hàng</a>
{% endblock %}