{% extends "major_features/layout.html" %}

{% block title %}
<h2>Chọn đơn hàng nhập kho để tiến hành xuất kho cho đơn hàng xuất kho <u>{{ export_order_id }}</u> theo phương pháp <strong>Thực tế đích danh</strong></h2>
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
    <div class="form-container">
        <form action="{% url 'choose_type_of_inventory' export_order_id %}" method="post" class="shipment-form">
            {% csrf_token %}
            <fieldset>
                <legend>Chọn đơn hàng nhập kho từ một trong hai nhóm sau: </legend>
                {% if starting_purchases_count > 0 %}
                <button type="submit" class="submit-button" name="starting_inventory">Tồn kho đầu kỳ</button>
                {% else %}
                <div class="alert alert-info" role="alert">
                  Số lượng hàng tồn kho đầu kỳ của sản phẩm {{ product.name }} đã hết
                </div>
                {% endif %}
                <button type="submit" class="submit-button" name="current_accounting_period_inventory">Phát sinh trong kỳ kế toán hiện tại</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}