{% extends "major_features/layout.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #01257D;">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'index' %}">Trang chủ</a>
        </li>
        <li class="nav-item dropdown-trigger" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'import_shipments' %}">Nhập kho</a>
          <ul class="dropdown-ul">
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'import_shipments' %}" style="color: white; text-decoration: none;">
                Theo dõi lô hàng nhập kho
              </a>
            </li>
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'import_action' %}" style="color: white; text-decoration: none;">
                Thực hiện nhập kho
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown-trigger" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: #00FFFF; border-bottom: 2px solid #00FFFF;" href="{% url 'export_shipments' %}">Xuất kho</a>
          <ul class="dropdown-ul">
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'export_shipments' %}" style="color: white; text-decoration: none;">
                Theo dõi lô hàng xuất kho
              </a>
            </li>
            <li class="nav-item dropdown-li">
              <a class="nav-link" href="{% url 'export_action' %}" style="color: white; text-decoration: none;">
                Thực hiện xuất kho
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" style="padding: 2.5px 5px 2.5px 5px;">
          <a class="nav-link" style="color: white;" href="{% url 'reports' %}">Thống kê</a>
        </li>
      </ul>
    </div>
  </nav>
{% endblock %}

{% block title %}
<h2>Hoàn tất đơn hàng xuất kho {{ export_order_obj.pk }} thuộc lô hàng xuất kho {{ export_shipment_code }}</h2>
{% endblock %}

{% block body %}

<ul>
  <li><strong>Mã lô hàng xuất kho:</strong> {{ export_shipment_code }}</li>
  <li><strong>Mã đơn hàng xuất kho:</strong> {{ export_order_obj.pk }}</li>
  <li><strong>Xuất kho sản phẩm:</strong> {{ export_order_obj.product_id.name }}</li>
</ul>

<table class="table table-bordered table-striped table-dark w-auto" style="margin: auto;">
  <thead>
    <tr>
      <th scope="col">Mã đơn hàng nhập kho</th>
      <th scope="col">Số lượng lấy ra</th>
      <th scope="col">Đơn giá xuất bán</th>
      <th scope="col">Giá trị xuất bán</th>
    </tr>
  </thead>
  <tbody>
    {% for export_order_detail in export_order_details %}
    <tr>
      <td>{{ export_order_detail.import_purchase_id.pk }}</td>
      <td>{{ export_order_detail.quantity_take }}</td>
      <td>{{ export_order_detail.export_price }}</td>
      <td>{{ export_order_detail.quantity_take|multiply:export_order_detail.export_price|intcomma }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<p>
  <a href="{% url 'export_order_action' export_shipment_code %}">Tiếp tục xuất kho sản phẩm khác theo lô hàng xuất kho {{ export_shipment_code }}</a>
</p>
<p>
  <a href="#">Hoàn tất lô hàng xuất kho {{ export_shipment_code }}</a>
</p>
{% endblock %}