{% extends "major_features/layout.html" %}

{% block title %}
<h2>Trang xuất kho</h2>
{% endblock %}

{% block body %}
<h3>Đơn xuất kho sản phẩm theo lô hàng {{ export_shipment.export_shipment_code }}</h3>
<p>Phương pháp tính giá xuất kho hiện tại: <strong>{{ current_method.name }}</strong></p>
<div class="container d-flex justify-content-center">
    <div class="form-container">
      <form action="{% url 'export_order_action' export_shipment_code %}" method="post" class="shipment-form">
          {% csrf_token %}
            <div class="form-group">
              <fieldset>
                  <legend>
                      <strong>Xuất kho sản phẩm:</strong>
                  </legend>
                  {{ export_order_form.as_p }}
              </fieldset>
            </div>
            {% if current_method.name == "Thực tế đích danh" %}
            <button type="submit" value="Chọn đơn hàng tiến hành xuất kho" class="submit-button float-right">
              Lưu và chọn đơn hàng để xuất kho cho sản phẩm
            </button>
            {% else %}
            <button type="submit" class="submit-button float-right">
              Xác nhận
            </button>
            {% endif %}
      </form>
    </div>
</div>
{% endblock %}