{% extends "major_features/layout.html" %}

{% block title %}
<h2>Trang xuất kho</h2>
{% endblock %}

{% block body %}
<h3>Đơn xuất kho lô hàng</h3>
<p>Phương pháp tính giá xuất kho đang được áp dụng: <strong>{{ current_method_obj.name }}</strong></p>

<div class="container d-flex justify-content-center">
  <div class="form-container">
    <form action="{% url 'export_action' %}" method="post" class="shipment-form">
        {% csrf_token %}
          <div class="form-group">
            <fieldset>
                <legend>
                    <strong>Thông tin lô hàng xuất kho:</strong>
                </legend>
                {{ export_shipment_form.as_p }}
            </fieldset>
          </div>
          <button type="submit" class="submit-button float-right">Tiếp tục<i class="bi bi-arrow-right-short"></i></button>
    </form>
  </div>
</div>
{% endblock %}