{% extends "major_features/layout.html" %}

{% block title %}
<h3 style="margin-top: 10px; text-align: center;">Thay đổi thông tin sản phẩm</h3>
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center">
    <div class="form-container">
        <form action="{% url 'edit_product' product.sku %}" method="post" class="shipment-form">
            {% csrf_token %}
            <div class="form-group">
                <fieldset>
                    <legend>
                        Thay đổi thông tin sản phẩm {{ product.name }} với mã sản phẩm là {{ product.sku }}
                    </legend>
                    {{ edit_product_form.as_p }}
                </fieldset>
            </div>
            <button type="submit" class="submit-button">Xác nhận</button>
        </form>
    </div>
</div>
{% endblock %}